<div ng-repeat="item in items">
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-5" ng-if="$odd == true">
      <img ng-src="{{item.image}}" class="featurette-image img-responsive" width="500x"/>
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">{{item.name}}. <span class="text-muted">${{item.price}}</span></h2>
      <p class="lead">{{item.snippet}}</p>
      <button type="button" class="btn btn-default" style="margin-top: 25px;">Like&nbsp;&nbsp;<span class="badge">{{item.likes}}</span></button>
    </div>
    <div class="col-md-5" ng-if="$even == true">
      <img ng-src="{{item.image}}" class="featurette-image img-responsive" width="500x"/>
    </div>
  </div>
</div>
<hr class="featurette-divider">